Repository 47degrees/metrifier, pull requests merged in 2020-04, with the labels that each got.

#48 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .mergify.yml
Labels: auto-update

#49 Update sbt to 1.3.9
  project/build.properties
Labels: auto-update

#45 Update scalafmt-core to 2.4.2
  .scalafmt.conf
Labels: auto-update

#50 Update actions, documentation templates and configuration files to v0.3.1
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#52 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#51 Update actions, documentation templates and configuration files to v0.3.2
  .mergify.yml
Labels: auto-update

#53 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog, auto-update

#54 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog, auto-update

#36 Update sbt-jmh to 0.3.7
  project/plugins.sbt
Labels: auto-update

#55 Update actions, documentation templates and configuration files to v0.3.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
Labels: auto-update

#56 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#57 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#58 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#59 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#61 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#30 Update sbt-assembly to 0.14.10
  project/plugins.sbt
Labels: auto-update

#60 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#64 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#65 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#66 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#67 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog
